body{
  height:90%;
  width: 80%;
}
.App {
  border: solid 5px black;
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.appContainer{
  border: solid 4px black;
  height:550px ;
  width: 70%;
  display: flex;
  justify-content:space-between;
  margin: auto;
  margin-top: 10%;
}

.homePage{
  border: solid 5px orange ;
  height: auto;
  width: 50%;
}

.employeeheader{
  border: solid 3px blue;
  padding: 2%;
}

.searchbar{
  border: solid 2px green;
}

.empList{
  border: solid 2px purple;
}

.employeePage{
  border: solid 5px brown ;
  height: auto;
  width: 50%;
}

.employeeProfile{
  border: solid 2px blue;
  height: 40px;
  width: 98%;
  margin: auto;
}

.profilePic{
  border: solid 1px grey;
  display: flex;
  justify-content: left;
  margin: auto;
  margin-top: 3%;
  width: 90%;
  height: 90px;
  padding: 10px;
}

#img1{
height: 80px;
width:80px;
}

.employeeContactInfo{
  border: solid 1px grey;
  width: 90%;
  height: 50px;
  padding: 10px;
  margin-left: 2.3%;
  display: flex;
  flex-direction:row;
}

.allEmployeeCont{
  border: solid 4px purple;
  margin: 0.98%;
}
.employeeListItem{
  border: solid red 2px;
  height:fit-content;
  width: auto;
  margin: 0.9%;
  padding: 1px;

  display: flex;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
